@model IEnumerable<MVCDiscografia.Models.Formato>

@{
    ViewBag.Title = "Formatos de Grabación";
}

<h2>Formatos de Grabación</h2>

<p>
    @Html.ActionLink("Nuevo Formato", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.FormatoID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.FormatoID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.FormatoID })
        </td>
    </tr>
}

</table>
