@model MVCDiscografia.Models.Artista

@{
    ViewBag.Title = "Detalle del Artista";
}

<h2>Detalle del Artista</h2>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ArtistaID }) |
    @Html.ActionLink("Regresar al Indice", "Index")
</p>
